footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: auto;
    background-color: #3a3a3a;
    padding-top: 10px;
    color: #ffe4c4;
}

footer .box {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

footer .box .text {
    width: 24%;
    height: auto;
}

footer .box .text h6 {
    font-size: 1.5rem;
}

footer .box .links {
    width: 40%;
    height: auto;
}

footer .box .links .menu-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

footer .box .links .menu-footer li a {
    color: #ffe4c4;
    transition: all .8s linear;
}

footer .box .links .menu-footer li a:hover {
    background: url(../../../assets/img/effect.jpg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .box .social {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

footer .box .social a img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    transition: all .2s linear;
}

footer .box .social a:hover img {
    transform: scale(1.26);
}

footer .copyright {
    width: 100%;
    height: auto;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    footer .box .text h6 {
        font-size: 1.25rem;
    }

    footer .box .text p {
        font-size: 1.125rem;
    }
    
    footer .box .links .menu-footer li a {
        font-size: 1.125rem;
    }
    
    footer .box .social a img {
        width: 22px;
        height: 22px;
    }

    footer .copyright {
        font-size: 1.125rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    footer .box .text {
        width: 34%;
        height: auto;
    }

    footer .box .text h6 {
        font-size: 1.25rem;
    }

    footer .box .text p {
        font-size: 1.125rem;
    }
    
    footer .box .links {
        width: 30%;
        height: auto;
    }
    
    footer .box .links .menu-footer {
        display: block;
        list-style: none;
        text-align: center;
        line-height: 40px;
    }

    footer .box .links .menu-footer li a {
        font-size: 1.4rem;
    }
}

@media (max-width: 575.98px) {
    footer .box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer .box .text {
        width: auto;
        height: auto;
        margin-bottom: 16px;
    }

    footer .box .text h6 {
        font-size: 1.5rem;
    }

    footer .box .text p {
        font-size: 1.25rem;
    }
    
    footer .box .links {
        width: auto;
        height: auto;
    }
    
    footer .box .links .menu-footer {
        display: block;
        list-style: none;
        text-align: center;
        line-height: 40px;
    }

    footer .box .links .menu-footer li a {
        font-size: 1.5rem;
    }

    footer .box .social {
        width: 50%;
        height: auto;
        margin: 10px 0 6px 0;
    }

    footer .box .social a img {
        width: 25px;
        height: 25px;
    }
}