<footer>
    <div class="box">
        <div class="text">
            <h6>Nosso APP Angular.js</h6>
            <p>Web Developer</p>
        </div>

        <div class="links">
            <ul class="menu-footer">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="menu">Menu</a></li>
                <li><a routerLink="sobre">Sobre</a></li>
                <li><a routerLink="contato">Contato</a></li>
            </ul>
        </div>

        <div class="social">
            <a href="#" target="_blank">
                <img src="../../../assets/img/youtube.png" alt="" />
            </a>
            <a href="#" target="_blank">
                <img src="../../../assets/img/whatsapp.png" alt="" />
            </a>
            <a href="#" target="_blank">
                <img src="../../../assets/img/linkedin.png" alt="" />
            </a>
            <a href="#" target="_blank">
                <img src="../../../assets/img/instagram.png" alt="" />
            </a>
            <a href="#" target="_blank">
                <img src="../../../assets/img/github.png" alt="" />
            </a>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; Todos os direiros reservados 2023</p>
    </div>
</footer>