form {
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 14px;
    background-color: var(--bg2);
    display: block;
    margin: 0 auto;
}

form h1 {
    font-size: 2rem;
    font-weight: 600;
}

form .box-1 {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}

form .box-2 {
    position: relative;
    width: 48%;
    height: auto;
    margin-top: 30px;
}

form .box-3 {
    position: relative;
    width: 30%;
    height: auto;
}

form .inputLabel {
    position: absolute;
    top: 5px;
    left: 6px;
    color: #000;
    transition: all .2s ease;
}

form #dateLabel {
    top: -21px;
    left: 3px;
    color: #fff;
}

form .inputText {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 1.125rem;
    text-indent: 6px;
}

form .inputDate {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 1.125rem;
    text-indent: 6px;
}

form .inputText:focus ~ .inputLabel,
form .inputText:valid ~ .inputLabel {
    top: -21px;
    left: 3px;
    color: #fff;
}

form .btn {
    height: 34px;
    padding: 0 30px;
    border-radius: 15px;
    outline: none;
    border: 2px solid #000;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    transition: all .2s ease;
}

form .btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

form .btn:active {
    transform: translate(5px, 5px);
}