<form #f="ngForm" method="get" autocomplete="off">
    <h1>Cadastra-se:</h1>

    <div class="box-1">
        <div class="box-2">
            <label for="nome" class="inputLabel">Nome:</label>
            <input type="text" name="nome" id="nome" class="inputText" ngModel required />
        </div>

        <div class="box-2">
            <label for="nasc" id="dateLabel" class="inputLabel">Data de Nascimento:</label>
            <input type="date" name="nasc" id="nasc" class="inputDate" ngModel required />
        </div>
    </div>

    <div class="box-1">
        <div class="box-2">
            <label for="cep" class="inputLabel">Cep:</label>
            <input type="text" name="cep" id="cep" class="inputText" ngModel required />
        </div>

        <div class="box-2">
            <label for="cidade" class="inputLabel">Cidade:</label>
            <input type="text" name="cidade" id="cidade" class="inputText" ngModel required />
        </div>
    </div>

    <div class="box-1">
        <div class="box-2">
            <label for="bairro" class="inputLabel">Bairro:</label>
            <input type="text" name="bairro" id="bairro" class="inputText" ngModel required />
        </div>

        <div class="box-2">
            <label for="rua" class="inputLabel">Rua:</label>
            <input type="text" name="rua" id="rua" class="inputText" ngModel required />
        </div>
    </div>

    <div class="box-2">
        <label for="uf" class="inputLabel">UF:</label>
        <input type="text" name="uf" id="uf" class="inputText" ngModel required />
    </div>

    <input type="submit" class="btn" value="Cadastrar" />
    <input type="reset" class="btn" value="Limpar Campos" />
</form>