<form autocomplete="off">
    <p>Nome: <input type="text" name="nome" [(ngModel)]="aluno.nome" required/></p>
    <p>Idade: <input type="text" name="idade" [(ngModel)]="aluno.idade" required/></p>
    <button type="button" (click)="cadastrar()">Cadastrar</button>
</form>

<br/>
<hr>

<h2>Lista de Alunos</h2>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of alunos">
            <th>{{ item.id }}</th>
            <th>{{ item.nome }}</th>
            <th>{{ item.idade }}</th>
            <td>
                <button (click)="atualizar(item.id)">Atualizar</button>
                <button (click)="deletar(item.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>