:root {
    --bg: rgba(100, 200, 100, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}