footer {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: var(--bg1);
    margin-top: 50px;

    position: fixed;
    bottom: 0;
}

footer .copyright {
    text-align: center;
    font-size: 1rem;
}