<div class="banner">
    <div class="container">
        <h1>Meu App <br /> Dê seu LIKE</h1>
        <a routerLink="menu">Fazer pedidos <img src="../../../assets/img/sacola_compras.png" alt=""></a>
    </div>
</div>

<div class="pedido">
    <h2>Como fazer os pedidos?</h2>

    <div class="container">
        <div class="box">
            <h3>1</h3>
            <p>Selecione o tipo</p>
        </div>

        <div class="box">
            <h3>2</h3>
            <p>Preencher os detalhes</p>
        </div>

        <div class="box">
            <h3>3</h3>
            <p>Entrega de seus pedidos em minutos</p>
        </div>
    </div>
</div>

<div class="cardapio">
    <h2>Nosso Cardápio</h2>

    <div class="container">
        <div class="box" *ngFor="let fd of foodData.slice(0,4)">
            <img src="{{ fd.foodImg }}" alt="" />
            <h4>{{ fd.foodName }}</h4>
            <p class="price">{{ fd.foodPrice | currency:'BRL' }}</p>
        </div>
    </div>

    <button routerLink="menu">+ Opções</button>
</div>
