.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../../../assets/img/home_img1.jpg) no-repeat;
    background-size: 100% 600px;
}

.banner .container {
    position: absolute;
    left: 30%;
    top: 50%;

    width: 150px;

}

.banner .container h1 {

}

.banner .container p {

}

.banner .container p img {
    width: 20px;
    height: 20px;
}