<div class="view" *ngFor="let item of pokemonArray">
    <img src="{{ item.sprites.front_default }}" alt="Imagem do Pokémon {{ item.name }}" />

    <table>
        <tr>
            <th>Experience: {{ item.base_experience }}</th>
        </tr>

        <tr>
            <th>Altura: {{ item.height }}</th>
            <th>Peso: {{ item.weight }}</th>
        </tr>

        <!-- Tipos do Pokémon -->
        <tr>
            <th>Tipo do Pokémon:</th>
        </tr>

        <tr>
            <td *ngFor="let types of item.types">
                {{ types.type.name }}
            </td>
        </tr>

        <!-- Status do Pokémon -->
        <tr>
            <th>Status do Pokémon:</th>
        </tr>

        <tr *ngFor="let status of item.stats">
            <td>
                {{ status.stat.name }}: {{ status.base_stat }}
            </td>
        </tr>

        <!-- Habilidades -->
        <tr>
            <th>Habilidades:</th>
        </tr>

        <tr>
            <td *ngFor="let Habilidades of item.abilities">
                {{ Habilidades.ability.name }}
            </td>
        </tr>
    </table>
</div>